.jumbotron{
    background-color: blue;
    color:whitE;
    margin-top: 50px;
    border-radius: 0px;
}

footer{
    padding: 20px 20px 20px;
    background-color: black;
    color: white;
    margin-bottom: 0px;
    margin-top: 10px;
}

.btn-primary{
    background-color:rgb(71, 71, 114);
}

.card-product{
    flex: 1 200px;
    margin-top: 10px;

}

.btn-product{
    width: 100%; 
    border-radius: 0px;      
}
.btn-outline-success{
    width: 100%; 
    border-radius: 0px; 
}

.footer-address-icon{
    padding-right: 10px;
}

.tab-content{
    padding-top: 10px;
}
.banner{
    border-radius: 0;
    margin: -32px 0 20px;
}

.footer-text{
    color: white;
    text-decoration: underline;
}

.grid-item-content {
    height: 100px;
    background: #D26;
    border: 2px solid hsla(0, 0%, 0%, 0.5);
    border-radius: 5px;
  }
  
  .grid-item-content--height2 { height: 200px; }