$blue:#4d4d9b;
$yellow:#f7ff85;
$red:#d93838;
$green:#4d9b84;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}


.jumbotron{
    background-color:$red;
    color:white;
    @include margenes (50px,20px);
    border-radius: 0px;
}

footer{
    padding: 20px 20px 20px;
    background-color: $yellow;
    color: black;
    @include margenes (10px,0px);
}

.btn-primary{
    background-color:$green;
}

.card-product{
    flex: 1 200px;
    @include margenes (10px,0px);
}

.btn-product{
    width: 100%; 
    border-radius: 0px;      
}
.btn-outline-success{
    width: 100%; 
    border-radius: 0px; 
}

.footer-address-icon{
    padding-right: 10px;
}

.tab-content{
    padding-top: 10px;
}
.banner{
    border-radius: 0;
    margin: -32px 0 20px;
}

.footer-text{
    color: black;
    text-decoration: underline;
}

.grid-item-content {
    height: 100px;
    background: #D26;
    border: 2px solid hsla(0, 0%, 0%, 0.5);
    border-radius: 5px;
  }
  
  .grid-item-content--height2 { height: 200px; }